
<table class="table" style="width:80%; margin:auto;"  >
    <thead class="thead-light" >
      <tr>
        <th scope="col">KEY</th>
        <th scope="col">DUI</th>
        <th scope="col">Dueño</th>
        <th scope="col">Mascota</th>
        <th scope="col">Tratamiento</th>
        <th scope="col">Medicamento</th>
        <th scope="col">Veterinario</th>
        <th scope="col">N° Consulta</th>
        <th scope="col">Precio</th>
        <th scope="col">TT a pagar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clienteLista">
        <td>{{cliente.$key}}</td>
        <td>{{cliente.dui}}</td>
        <td>{{cliente.nombre}}</td>
        <td>{{cliente.mascota}}</td>
        <td>{{cliente.tratamiento}}</td>
        <td>{{cliente.medicamento}}</td>
        <td>{{cliente.atendido}}</td>
        <td>{{cliente.consulta}}</td>
        <td>{{cliente.precio}}</td>
        <td>{{cliente.ttpagar}}</td>
        <td><a class="btn btn-secondary text-white" (click)="onEditar(cliente)">
          <i class="far fa-edit"></i></a>
        </td>
      </tr>
      
    </tbody>
  </table>
  