<div class="login-form">
    <div class="displayTableCell">
      <form >
      <div>
        <h2 class="text-center">Gracias por registrarte!! :D</h2>
        <div class="or-seperator"><i>x</i></div>
        <div class="formGroup" *ngIf="usuarioService.usuarioDatos as usuario">
          <p class="text-center">Ya enviamos un correo de verificación a <strong>{{usuario.email}}</strong>.</p>
          <p class="text-center">Por favor verifica tu correo y da clic al link!</p>
        </div>

        <!-- Calling SendVerificationMail() method using authService Api -->
        <div class="hint-text small">
          <!--<button type="button" class="btn btn-Primary" (click)="usuarioService.MandarVerificacion()">
            <i class="fas fa-redo-alt"></i>
            Reenvia la verificación
          </button>-->
          No se envio el correo? <a href="#" class="text-success" (click)="usuarioService.MandarVerificacion()">Reenvialo ahora!</a>
        </div>

      </div>
      </form>
      <div class="redirectToLogin">
        <div class="hint-text small">Regresar ? <a href="#" class="text-success" routerLink="/inicia-sesion">Iniciar sesion</a></div>
      </div>
    </div>
</div>
